body{
  min-height: 800px;
  border: 8px solid black;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box{
  height: 200px;
  width: 200px;
  background-color: #0071FF;
  font-size: 40pt;
}